@import "tailwindcss";

@font-face {
    font-family: "Baloo";
    src: url("../fonts/BalooBhaijaan-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Chillax";
    src: url("../fonts/Chillax-Variable.ttf") format("truetype");
}

@theme {
    --breakpoint-xs: 30rem;   /* ~480px */
    --breakpoint-sm: 40rem;   /* 640px (default) */
    --breakpoint-md: 48rem;   /* 768px (default) */
    --breakpoint-lg: 64rem;   /* 1024px (default) */
    --breakpoint-xl: 80rem;   /* 1280px (default) */
}

 @layer base {
     body {
         width: 100%;
         height: 100%;
         overflow-x: hidden;
     }
     p {
         font-family: "Chillax", sans-serif;
         color: white;
     }
     div {
         font-family: "Baloo", sans-serif;
         color: white;
     }
     * {
         margin: 0;
         padding: 0;
     }
}
@layer components {
 .bg {
     background-image: url('/bg.png');
 }
    .square {
        background: rgba(255, 255, 255, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    .circle {
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 50%;
    }
}
/*
@utility {

}

@utility {

}
 */


